/* Update for Sidemode in IE 10 in Windows 8. */
@-ms-viewport{
    width: device-width;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../_sass/_Boilerplate-before.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../_sass/_Boilerplate-before.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 26, ../_sass/_Boilerplate-before.scss */
a {
  color: #00e;
}

/* line 30, ../_sass/_Boilerplate-before.scss */
a:visited {
  color: #551a8b;
}

/* line 34, ../_sass/_Boilerplate-before.scss */
a:hover {
  color: #06e;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 44, ../_sass/_Boilerplate-before.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 49, ../_sass/_Boilerplate-before.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 58, ../_sass/_Boilerplate-before.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 71, ../_sass/_Boilerplate-before.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 79, ../_sass/_Boilerplate-before.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 89, ../_sass/_Boilerplate-before.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 97, ../_sass/_Boilerplate-before.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
/* line 11, ../_sass/_BernardoUnitGS.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ######################################################### */
/*                         My Settings                       */
/* line 419, ../_sass/_UnitGS.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 431, ../_sass/_UnitGS.scss */
body {
  font-size: 1em;
  line-height: 1.6em;
}

/*
*
*  Six-column grid active
*  ------------------------------------------------
*  Margin   | #  1   2   3   4   5   6   |   Margin
*    2%     | %  18  34  50  66  72  88  |     2%
*
*/
/* line 67, ../_sass/_BernardoUnitGS.scss */
a, a:visited {
  text-decoration: none;
  color: #ffa13e;
}

/* line 72, ../_sass/_BernardoUnitGS.scss */
a:hover {
  color: #ffa13e;
}

/* line 79, ../_sass/_BernardoUnitGS.scss */
.sociallink a, .sociallink a:visited {
  text-decoration: none;
  color: #1a1c1d;
}

/* line 85, ../_sass/_BernardoUnitGS.scss */
h1, h2, h3, p.intro {
  text-rendering: optimizeLegibility;
}

/* line 92, ../_sass/_BernardoUnitGS.scss */
::-webkit-selection {
  background: #ffd8b5;
}

/* line 92, ../_sass/_BernardoUnitGS.scss */
::-moz-selection {
  background: #ffd8b5;
}

/* line 92, ../_sass/_BernardoUnitGS.scss */
::-o-selection {
  background: #ffd8b5;
}

/* line 92, ../_sass/_BernardoUnitGS.scss */
::selection {
  background: #ffd8b5;
}

/* line 97, ../_sass/_BernardoUnitGS.scss */
h1 > a, h1 > a:visited {
  color: #1a1c1d;
}

/* line 100, ../_sass/_BernardoUnitGS.scss */
body {
  background-image: url("/img/Background.jpg");
  background-repeat: repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1a1c1d;
}

/* line 107, ../_sass/_BernardoUnitGS.scss */
.svg-figure {
  display: block;
  text-align: center;
}
/* line 111, ../_sass/_BernardoUnitGS.scss */
.svg-figure object {
  margin-bottom: 1.6em;
}
/* line 112, ../_sass/_BernardoUnitGS.scss */
.svg-figure object, .svg-figure img {
  display: inline-block;
  max-width: 100%;
}

/* ######################################################### */
/*                       Unit Grid System                     */
/* line 123, ../_sass/_BernardoUnitGS.scss */
#page-content {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 125, ../_sass/_BernardoUnitGS.scss */
.orangetext {
  color: #ffa13e;
}

/* line 127, ../_sass/_BernardoUnitGS.scss */
.highlight {
  background-color: yellow;
}

/* line 130, ../_sass/_BernardoUnitGS.scss */
.post-content img {
  max-width: 100%;
}

/* line 136, ../_sass/_BernardoUnitGS.scss */
#mainnav {
  font-size: 1em;
  line-height: 3.2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.4em;
  margin-bottom: 1.2em;
  height: 3.2em;
  width: 80%;
  margin-left: 0%;
  margin-right: 2%;
  float: right;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  display: inline;
}
/* line 139, ../_sass/_BernardoUnitGS.scss */
#mainnav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
  white-space: nowrap;
}
/* line 49, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
#mainnav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 145, ../_sass/_BernardoUnitGS.scss */
#mainnav ul > li > a {
  font-size: 0.85em;
  line-height: 1.88235;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3f3e3d;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 157, ../_sass/_BernardoUnitGS.scss */
#mainnav ul > li.current > a {
  background: #ffc383;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
}

/* line 165, ../_sass/_BernardoUnitGS.scss */
#logoandname {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.4em;
  margin-bottom: 1.2em;
  height: 3.2em;
  width: 16%;
  margin-left: 2%;
  margin-right: 0%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: left;
  display: block;
  overflow: hidden;
  *zoom: 1;
  background-image: url("/img/NovoLogo.png");
  background-repeat: no-repeat;
  background-position: 0.8em 0.55em;
  text-decoration: none;
  color: #1a1c1d;
  overflow: hidden;
}

/* line 175, ../_sass/_BernardoUnitGS.scss */
#headerName, #headerTitle {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 181, ../_sass/_BernardoUnitGS.scss */
#welcomeMessage {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 183, ../_sass/_BernardoUnitGS.scss */
#welcomeMessage > img {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: 16.66667%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 184, ../_sass/_BernardoUnitGS.scss */
#welcomeMessage > div {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 185, ../_sass/_BernardoUnitGS.scss */
#welcomeMessage > div > p {
  font-size: 5.25em;
  line-height: 1em;
  color: #3f3e3d;
}

/* line 191, ../_sass/_BernardoUnitGS.scss */
#introduction-text {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 193, ../_sass/_BernardoUnitGS.scss */
#latest-projects {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 195, ../_sass/_BernardoUnitGS.scss */
#latest-projects #latest-projects-title {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: right;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}
/* line 197, ../_sass/_BernardoUnitGS.scss */
#latest-projects #latest-projects-title h2 {
  color: #7b7b7b;
}
/* line 200, ../_sass/_BernardoUnitGS.scss */
#latest-projects #project-unitgs, #latest-projects #project-asDesigned {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1.6em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
  color: #1a1c1d;
}
/* line 204, ../_sass/_BernardoUnitGS.scss */
#latest-projects #project-unitgs .project-title, #latest-projects #project-asDesigned .project-title {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 3.2em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}
/* line 207, ../_sass/_BernardoUnitGS.scss */
#latest-projects #project-unitgs .project-title img, #latest-projects #project-asDesigned .project-title img {
  width: 3.2em;
  height: 3.2em;
  margin-right: 0.8em;
  float: left;
}
/* line 214, ../_sass/_BernardoUnitGS.scss */
#latest-projects #project-unitgs .project-title h2, #latest-projects #project-asDesigned .project-title h2 {
  font-size: 1.4em;
  line-height: 2.28571;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
/* line 220, ../_sass/_BernardoUnitGS.scss */
#latest-projects #project-unitgs p, #latest-projects #project-asDesigned p {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 226, ../_sass/_BernardoUnitGS.scss */
#layout-footer {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 228, ../_sass/_BernardoUnitGS.scss */
#layout-footer .sociallink {
  font-size: 0.8em;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  display: inline;
}
/* line 230, ../_sass/_BernardoUnitGS.scss */
#layout-footer .sociallink:first {
  font-size: 0.8em;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  display: inline;
}
/* line 231, ../_sass/_BernardoUnitGS.scss */
#layout-footer .sociallink:last {
  font-size: 0.8em;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  display: inline;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.linkedin {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/linkedin.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.wordpress {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/wordpress.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.twitter {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/twitter.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.youtube {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/youtube.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.google {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/google.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 236, ../_sass/_BernardoUnitGS.scss */
.facebook {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/Social/facebook.png?1344696840');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 242, ../_sass/_BernardoUnitGS.scss */
#layout-footer #copyright {
  font-size: 0.8em;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 2em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  text-align: center;
  color: #3f3e3d;
}

/* line 249, ../_sass/_BernardoUnitGS.scss */
ul.blog-posts > li {
  list-style-type: none;
}

/* line 254, ../_sass/_BernardoUnitGS.scss */
.blog-post {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* line 258, ../_sass/_BernardoUnitGS.scss */
.post-header > h1 {
  font-size: 1.33333em;
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

/* line 265, ../_sass/_BernardoUnitGS.scss */
.post-header > h2 {
  display: none;
}

/* line 269, ../_sass/_BernardoUnitGS.scss */
.metadata {
  display: none;
}

/* line 273, ../_sass/_BernardoUnitGS.scss */
p.tags {
  font-size: 0.85em;
  line-height: 1.88235;
  padding-top: 0;
  padding-bottom: 1.88235em;
  margin-top: 0;
  margin-bottom: 0;
  color: #7b7b7b;
}
/* line 276, ../_sass/_BernardoUnitGS.scss */
p.tags:before {
  color: #1a1c1d;
  content: "about ";
}

/* line 281, ../_sass/_BernardoUnitGS.scss */
.post-content h1, .post-content h2, #page-content h1, #page-content h2 {
  font-size: 1.2em;
  line-height: 1.33333;
  padding-top: 0.44444em;
  padding-bottom: 0.88889em;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 289, ../_sass/_BernardoUnitGS.scss */
.post-content p, .post-content ul, #page-content p, #page-content ul {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1.6em;
}

/* line 294, ../_sass/_BernardoUnitGS.scss */
#post-comments {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 299, ../_sass/_BernardoUnitGS.scss */
#cv-introtext {
  font-size: 1.2em;
  line-height: 1.33333;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.66667em;
  padding-right: 0.66667em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  color: #3f3e3d;
}

/* line 304, ../_sass/_BernardoUnitGS.scss */
#cv-links {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 307, ../_sass/_BernardoUnitGS.scss */
#cv-links > ul {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  list-style-type: none;
}

/* line 313, ../_sass/_BernardoUnitGS.scss */
#linkedin-button {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: 1.6em;
  margin-bottom: 0;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: 16.66667%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding-left: 2.55em;
  background: url("/img/Social/linkedin.png") no-repeat scroll 12px center lightgrey;
  background-size: 16px 16px;
  color: #7b7b7b;
  text-align: center;
}

/* line 323, ../_sass/_BernardoUnitGS.scss */
#cv-skills-heading {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  display: none;
}

/* line 324, ../_sass/_BernardoUnitGS.scss */
#cv-skills-items {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  display: none;
}

/* line 327, ../_sass/_BernardoUnitGS.scss */
.cv-exp-title {
  font-size: 2.13333em;
  line-height: 1.5;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0.375em;
  padding-right: 0.375em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  color: #3f3e3d;
}

/* line 332, ../_sass/_BernardoUnitGS.scss */
.cv-exp-item {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  padding-left: 0;
  padding-right: 0;
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 334, ../_sass/_BernardoUnitGS.scss */
.cv-exp-item-header-date {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  color: #3f3e3d;
}

/* line 338, ../_sass/_BernardoUnitGS.scss */
.cv-exp-item-header-company {
  font-size: 1.618em;
  line-height: 1em;
  padding-top: 0.97775em;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 1.97775em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.49444em;
  padding-right: 0.49444em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  font-style: italic;
  white-space: nowrap;
}

/* line 343, ../_sass/_BernardoUnitGS.scss */
.cv-exp-item-header-role {
  font-size: 1.2em;
  line-height: 1.33333;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.66667em;
  padding-right: 0.66667em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  color: #7b7b7b;
}

/* line 347, ../_sass/_BernardoUnitGS.scss */
.cv-exp-item-details {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
}

/* @media screen and min-width: utils-convert-pixels-to-ems(480px) */
@media screen and (min-width: 30em) {
  /* line 372, ../_sass/_UnitGS.scss */
  body {
    font-size: 1.125em;
  }

  /* line 384, ../_sass/_BernardoUnitGS.scss */
  #mainnav {
    font-size: 1em;
    line-height: 3.2;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 3.2em;
    width: 80%;
    margin-left: 0%;
    margin-right: 2%;
    float: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 389, ../_sass/_BernardoUnitGS.scss */
  #logoandname {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 3.2em;
    width: 16%;
    margin-left: 2%;
    margin-right: 0%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: left;
    display: block;
    overflow: hidden;
    *zoom: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 396, ../_sass/_BernardoUnitGS.scss */
  #welcomeMessage {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 397, ../_sass/_BernardoUnitGS.scss */
  #welcomeMessage > img {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
  }

  /* line 398, ../_sass/_BernardoUnitGS.scss */
  #welcomeMessage > div {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 404, ../_sass/_BernardoUnitGS.scss */
  #introduction-text {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    margin-top: 0;
  }

  /* line 411, ../_sass/_BernardoUnitGS.scss */
  #latest-projects #project-unitgs .project-title h2, #latest-projects #project-asDesigned .project-title h2 {
    font-size: 1.5em;
    line-height: 2.13333;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 419, ../_sass/_BernardoUnitGS.scss */
  .blog-post {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }

  /* line 425, ../_sass/_BernardoUnitGS.scss */
  #cv-introtext {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }

  /* line 429, ../_sass/_BernardoUnitGS.scss */
  #cv-links {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 437, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item-header-role {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }
}
/* @media screen and (min-width: 600px) */
@media screen and (min-width: 37.5em) {
  /* line 461, ../_sass/_BernardoUnitGS.scss */
  #mainnav {
    font-size: 1em;
    line-height: 3.2;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    height: 3.2em;
    width: 48%;
    margin-left: 0%;
    margin-right: 2%;
    float: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }
  /* line 463, ../_sass/_BernardoUnitGS.scss */
  #mainnav ul > li > a {
    font-size: 0.9em;
    line-height: 1.77778;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  /* line 471, ../_sass/_BernardoUnitGS.scss */
  #logoandname {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    height: 3.2em;
    width: 48%;
    margin-left: 2%;
    margin-right: 0%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: left;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 475, ../_sass/_BernardoUnitGS.scss */
  #headerName, #headerTitle {
    white-space: nowrap;
    text-indent: 42px;
  }

  /* line 481, ../_sass/_BernardoUnitGS.scss */
  #headerName {
    font-size: 1em;
    line-height: 1em;
    padding-top: 0.6em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.6em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    font-weight: bold;
  }

  /* line 486, ../_sass/_BernardoUnitGS.scss */
  #headerTitle {
    font-size: 0.85em;
    line-height: 1em;
    padding-top: 0.13235em;
    padding-bottom: 0.75em;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.88235em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.94118em;
    padding-right: 0.94118em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    color: #7b7b7b;
    font-style: italic;
  }

  /* line 493, ../_sass/_BernardoUnitGS.scss */
  #welcomeMessage {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1.6em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }
}
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  /* line 515, ../_sass/_BernardoUnitGS.scss */
  #mainnav ul > li > a {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  /* line 523, ../_sass/_BernardoUnitGS.scss */
  #cv-links > ul {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
  }

  /* line 527, ../_sass/_BernardoUnitGS.scss */
  #linkedin-button {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }

  /* line 538, ../_sass/_BernardoUnitGS.scss */
  .post-header > h1 {
    font-size: 1.6em;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  /* line 587, ../_sass/_BernardoUnitGS.scss */
  #mainnav {
    font-size: 1em;
    line-height: 3.2;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    height: 3.2em;
    width: 48%;
    margin-left: 0%;
    margin-right: 2%;
    float: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }
  /* line 589, ../_sass/_BernardoUnitGS.scss */
  #mainnav ul > li > a {
    font-size: 1.1em;
    line-height: 1.45455;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  /* line 597, ../_sass/_BernardoUnitGS.scss */
  #logoandname {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    height: 3.2em;
    width: 48%;
    margin-left: 2%;
    margin-right: 0%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: left;
    display: block;
    overflow: hidden;
    *zoom: 1;
    background-image: url("/img/Logo.png");
    background-position: 0.8em 0.4em;
  }

  /* line 603, ../_sass/_BernardoUnitGS.scss */
  #headerName, #headerTitle {
    text-indent: 48px;
  }

  /* line 607, ../_sass/_BernardoUnitGS.scss */
  #headerName {
    font-size: 1.2em;
    line-height: 1em;
    padding-top: 0.33333em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.33333em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.66667em;
    padding-right: 0.66667em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }

  /* line 610, ../_sass/_BernardoUnitGS.scss */
  #headerTitle {
    font-size: 1em;
    line-height: 1em;
    padding-top: 0.09em;
    padding-bottom: 0.51em;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.6em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }

  /* line 615, ../_sass/_BernardoUnitGS.scss */
  #welcomeMessage {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.8em;
    margin-bottom: 2.4em;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 619, ../_sass/_BernardoUnitGS.scss */
  #introduction-text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.6em;
    -moz-column-gap: 1.6em;
    -ms-column-gap: 1.6em;
    -o-column-gap: 1.6em;
    column-gap: 1.6em;
  }

  /* line 627, ../_sass/_BernardoUnitGS.scss */
  #latest-projects #project-unitgs .project-title h2, #latest-projects #project-asDesigned .project-title h2 {
    font-size: 1.6em;
    line-height: 2;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .linkedin {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .wordpress {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .twitter {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .youtube {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .google {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 636, ../_sass/_BernardoUnitGS.scss */
  .facebook {
    background-position: 0px 50%;
    text-indent: 24px;
    text-decoration: none;
    color: #3f3e3d;
  }

  /* line 645, ../_sass/_BernardoUnitGS.scss */
  #cv-introtext {
    font-size: 1.2em;
    line-height: 1.33333;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.66667em;
    padding-right: 0.66667em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }
}
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  /* line 667, ../_sass/_BernardoUnitGS.scss */
  #mainnav ul > li > a {
    font-size: 1.2em;
    line-height: 1.33333;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  /* line 676, ../_sass/_BernardoUnitGS.scss */
  #latest-projects #project-unitgs, #latest-projects #project-asDesigned {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1.6em;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: none;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 681, ../_sass/_BernardoUnitGS.scss */
  #layout-footer .sociallink {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }
  /* line 683, ../_sass/_BernardoUnitGS.scss */
  #layout-footer .sociallink:first {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
  }
  /* line 684, ../_sass/_BernardoUnitGS.scss */
  #layout-footer .sociallink:last {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }
}
@media screen and (min-width: 60em) {
  /* line 702, ../_sass/_BernardoUnitGS.scss */
  #asDesigned {
    max-width: 60em;
    margin: 0 auto;
  }

  /* line 721, ../_sass/_BernardoUnitGS.scss */
  .blog-post {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    clear: both;
    display: block;
    overflow: hidden;
    *zoom: 1;
    padding-left: 0em;
    padding-right: 0em;
  }

  /* line 727, ../_sass/_BernardoUnitGS.scss */
  .post-header {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%;
    float: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
  }

  /* line 731, ../_sass/_BernardoUnitGS.scss */
  .post-metadata {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
  }

  /* line 735, ../_sass/_BernardoUnitGS.scss */
  .post-header > h2 {
    display: inherit;
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    color: #7b7b7b;
  }

  /* line 743, ../_sass/_BernardoUnitGS.scss */
  .metadata {
    display: inherit;
  }

  /* line 748, ../_sass/_BernardoUnitGS.scss */
  p.tags {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 752, ../_sass/_BernardoUnitGS.scss */
  p.tags:before {
    content: none;
  }

  /* line 755, ../_sass/_BernardoUnitGS.scss */
  .post-content {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1.6em;
    margin-bottom: 0;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%;
    float: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    display: inline;
  }

  /* line 759, ../_sass/_BernardoUnitGS.scss */
  #post-comments {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }

  /* line 764, ../_sass/_BernardoUnitGS.scss */
  #cv-links {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 32%;
    margin-left: 0%;
    margin-right: 2%;
    float: right;
    padding-left: 0;
    padding-right: 0;
    clear: none;
    display: block;
    overflow: hidden;
    *zoom: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 769, ../_sass/_BernardoUnitGS.scss */
  #cv-links > ul {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    list-style-type: none;
  }

  /* line 775, ../_sass/_BernardoUnitGS.scss */
  #linkedin-button {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 1.6em;
    margin-bottom: 0;
    width: 91.66667%;
    margin-left: 4.16667%;
    margin-right: 4.16667%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    -webkit-border-radius: 0.27778em;
    -moz-border-radius: 0.27778em;
    -ms-border-radius: 0.27778em;
    -o-border-radius: 0.27778em;
    border-radius: 0.27778em;
    padding-left: 2.35556em;
    background: url("/img/Social/linkedin.png") no-repeat scroll 12px center lightgrey;
    background-size: 16px 16px;
    color: #7b7b7b;
    text-align: center;
  }

  /* line 785, ../_sass/_BernardoUnitGS.scss */
  #cv-introtext {
    font-size: 1.2em;
    line-height: 1.33333;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.66667em;
    margin-bottom: 0.66667em;
    width: 64%;
    margin-left: 2%;
    margin-right: 0%;
    float: left;
    padding-left: 0.66667em;
    padding-right: 0.66667em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
    color: #7b7b7b;
  }

  /* line 790, ../_sass/_BernardoUnitGS.scss */
  #cv-skills-heading {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    display: none;
  }

  /* line 791, ../_sass/_BernardoUnitGS.scss */
  #cv-skills-items {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    display: none;
  }

  /* line 794, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-title {
    font-size: 1.618em;
    line-height: 1em;
    padding-top: 0;
    padding-bottom: 0.97775em;
    margin-top: 0.98888em;
    margin-bottom: 0;
    height: 1.97775em;
    width: 24%;
    margin-left: 2%;
    margin-right: 0%;
    float: left;
    padding-left: 0.49444em;
    padding-right: 0.49444em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    display: inline;
    color: #3f3e3d;
  }

  /* line 799, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 72%;
    margin-left: 0%;
    margin-right: 2%;
    float: right;
    padding-left: 0;
    padding-right: 0;
    clear: none;
    display: block;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 801, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item-header-date {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    color: #3f3e3d;
  }

  /* line 805, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item-header-company {
    font-size: 1.618em;
    line-height: 1em;
    padding-top: 0.97775em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.97775em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.49444em;
    padding-right: 0.49444em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    white-space: nowrap;
  }

  /* line 809, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item-header-role {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
    color: #7b7b7b;
  }

  /* line 813, ../_sass/_BernardoUnitGS.scss */
  .cv-exp-item-details {
    font-size: 1em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1.6em;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: inline;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 9, ../_sass/_Boilerplate-after.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 21, ../_sass/_Boilerplate-after.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 30, ../_sass/_Boilerplate-after.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 47, ../_sass/_Boilerplate-after.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 60, ../_sass/_Boilerplate-after.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 70, ../_sass/_Boilerplate-after.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 75, ../_sass/_Boilerplate-after.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 84, ../_sass/_Boilerplate-after.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 104, ../_sass/_Boilerplate-after.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 112, ../_sass/_Boilerplate-after.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 116, ../_sass/_Boilerplate-after.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 120, ../_sass/_Boilerplate-after.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 130, ../_sass/_Boilerplate-after.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 135, ../_sass/_Boilerplate-after.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 140, ../_sass/_Boilerplate-after.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 145, ../_sass/_Boilerplate-after.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 149, ../_sass/_Boilerplate-after.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 159, ../_sass/_Boilerplate-after.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 165, ../_sass/_Boilerplate-after.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
