        <footer id="layout-footer">
            <div class="sociallink">
                <a class="linkedin" href="http://www.linkedin.com/in/bernardoantunes" target="_blank">LinkedIn</a>
            </div>
            <div class="sociallink">
                <a class="wordpress" href="http://bernardoantunes.wordpress.com" target="_blank">Wordpress</a>
            </div>
            <div class="sociallink">
                <a class="twitter" href="http://twitter.com/tlootno" target="_blank">Twitter</a>
            </div>
            <div class="sociallink">
                <a class="youtube" href="http://www.youtube.com/user/tlootno" target="_blank">YouTube</a>
            </div>
            <div class="sociallink">
                <a class="google" href="https://plus.google.com/+BernardoAntunes" target="_blank">Google+</a>
            </div>
            <div class="sociallink">
                <a class="facebook" href="http://www.facebook.com/bernardo.miguel.antunes" target="_blank">Facebook</a>
            </div>

            <div id="copyright"><p>&copy; {{ site.time | date: '%Y' }} Bernardo Antunes.</p>
                <!--<p>Please read <a href="/license">the license page</a> for details about the licenses of this website's content.</p>--></div>
        </footer>
