        <section id="latest-projects">
        	<header id="latest-projects-title"><h2>Lastest projects</h2></header>
			<a href="http://asdesigned.bernardoantunes.com" id="project-asDesigned">
				<div class="project-title">
					<img src="/img/projects/asDesigned.png" alt="asDesigned Logo">
					<h2>asDesigned</h2>
				</div>
				<p>A proof of concept to show the current limitations of responsive design and how it can be solved. asDesigned gives back the power to the designers so that they can make their design to be asDesigned.</p>
			</a>
			<a href="http://unit.gs" id="project-unitgs">
				<div class="project-title">
					<img src="/img/projects/unitgs.png" alt="Unit Grid System Logo">
					<h2>Unit Grid System</h2>
				</div>
				<p>An Unitless, Fluid, Elastic, Semantic, Responsive, Scalable, Debuggable, Declarative, Simple to use Grid System! And... HTML5 and CSS3 Ready!</p>
			</a>
        </section>